<div class="w3-top">
    <div class="w3-bar w3-theme w3-card" id="myNavbar">
        <a routerLink="/" class="w3-bar-item w3-button w3-wide w3-hover-theme-dark">NG RECIPES</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <!-- <a routerLink="/about" class="w3-bar-item w3-button">ABOUT</a> -->

            <a routerLink="/recipes" class="w3-bar-item w3-button w3-hover-theme-dark"><i class="fa fa-th"></i>
                RECIPES</a>

            <ng-container *ngIf="!isLogged">
                <a routerLink="/auth/login" class="w3-bar-item w3-button w3-hover-theme-dark"><i
                        class="fa fa-sign-in"></i>
                    LOGIN</a>
                <a routerLink="/auth/register" class="w3-bar-item w3-button w3-hover-theme-dark"><i
                        class="fa fa-user"></i>
                    REGISTER</a>
            </ng-container>

            <ng-container *ngIf="isLogged">
                <a routerLink="/recipes/add" class="w3-bar-item w3-button w3-hover-theme-dark"><i
                        class="fa fa-cutlery"></i> ADD
                    RECIPE</a>
                <a routerLink="/auth/profile" class="w3-bar-item w3-button w3-hover-theme-dark"><i
                        class="fa fa-user"></i>
                    PROFILE</a>
                <a routerLink="/auth/logout" class="w3-bar-item w3-button w3-hover-theme-dark"><i
                        class="fa fa-sign-out"></i>
                    LOGOUT</a>
            </ng-container>

        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a (click)="w3_open()" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-hover-theme-dark">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<nav class="w3-sidebar w3-bar-block w3-theme w3-card w3-animate-left w3-hide-medium w3-hide-large"
    [style.display]="isSidebarShowed ? 'block' : 'none'" id="mySidebar">

    <a (click)="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16 w3-hover-theme-dark">Close ×</a>
    <a (click)="w3_close()" routerLink="/recipes" class="w3-bar-item w3-button w3-hover-theme-dark">RECIPES</a>

    <ng-container *ngIf="!isLogged">
        <a (click)="w3_close()" routerLink="/auth/login" class="w3-bar-item w3-button w3-hover-theme-dark">LOGIN</a>
        <a (click)="w3_close()" routerLink="/auth/register"
            class="w3-bar-item w3-button w3-hover-theme-dark">REGISTER</a>
    </ng-container>

    <ng-container *ngIf="isLogged">
        <a (click)="w3_close()" routerLink="/recipes/add" class="w3-bar-item w3-button w3-hover-theme-dark">ADD
            RECIPE</a>
        <a (click)="w3_close()" routerLink="/auth/profile" class="w3-bar-item w3-button w3-hover-theme-dark">PROFILE</a>
        <a (click)="w3_close()" routerLink="/auth/logout" class="w3-bar-item w3-button w3-hover-theme-dark">LOGOUT</a>
    </ng-container>
</nav>