<div class="w3-container w3-padding-64">
    <app-loader *ngIf="!recipe"></app-loader>

    <h1 class="w3-center" *ngIf="recipe">{{recipe.title}}</h1>
    <hr>

    <ng-container *ngIf="recipe">
        <div class="w3-container w3-third w3-padding-16">
            <img src="{{recipe.imageUrl}}" class="" style="width:100%">
        </div>

        <div class="w3-container w3-twothird">
            <div>
                <h2>Recipe information</h2>
                <h3>Serves: {{recipe.serves}}</h3>
                <!-- <h3>Ingredients: {{recipe?.ingredients}}</h3> -->

                <table class="w3-table-all w3-hoverable">
                    <tr class="w3-theme-d3">
                        <th>Ingredients</th>
                    </tr>
                    <tr *ngFor="let ingredient of ingredients">
                        <td>{{ingredient}}</td>
                    </tr>
                </table>

                <h2>Method</h2>
                <ng-container *ngFor="let step of steps">
                    <p>{{step}}</p>
                </ng-container>
            </div>
        </div>


        <ng-container *ngIf="token">
            <div class="w3-container w3-center" *ngIf="isOwner">
                <hr>
                <h1>Recipe Controls</h1>
                <button routerLink="/recipes/{{recipe.objectId}}/edit"
                    class="w3-button w3-section w3-theme w3-ripple w3-hover-theme-dark">Edit</button>
                <button (click)="deleteThisRecipe(recipe.objectId)"
                    class="w3-button w3-section w3-margin-left w3-theme w3-ripple w3-hover-theme-dark">Delete</button>
            </div>
        </ng-container>

    </ng-container>

</div>