<header class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Embark on a Culinary Adventure</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Taste the World</span><br>
        <span class="w3-large">Where Every Dish Tells a Story</span>
        <p><a routerLink="/recipes"
                class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">View
                recipes</a></p>
    </div>
</header>