<div class="center">
    <div class="w3-container w3-third w3-margin-top w3-padding-64">
        <div class="w3-container w3-theme-dark w3-center">
            <h2>Register</h2>
        </div>

        <form #form="ngForm" (ngSubmit)="register(form)" class="w3-container w3-card-4 w3-center">
            <p>
                <input class="w3-input w3-center" name="username" type="text" required ngModel #inputUsername="ngModel">
                <label>Username</label>
                <ng-container *ngIf="inputUsername.touched">
                    <div class="w3-pale-red w3-round">
                        <label *ngIf="inputUsername.errors?.['required']" class="ng-text-red">Username is
                            required</label>
                    </div>
                </ng-container>
            </p>
            <p>
                <input class="w3-input w3-center" name="password" type="password" required ngModel
                    #inputPassword="ngModel">
                <label>Password</label>
                <ng-container *ngIf="inputPassword.touched">
                    <div class="w3-pale-red w3-round">
                        <label *ngIf="inputPassword.errors?.['required']" class="ng-text-red">Password is
                            required</label>
                    </div>
                </ng-container>
            </p>
            <p>
                <input class="w3-input w3-center" name="rePassword" type="password" required ngModel
                    #inputRePassword="ngModel">
                <label>Repeat Password</label>
                <ng-container *ngIf="inputRePassword.touched">
                    <div class="w3-pale-red w3-round">
                        <label *ngIf="inputRePassword.errors?.['required']" class="ng-text-red">Repeat password is
                            required</label>
                    </div>
                </ng-container>
            </p>

            <!-- <p>
            <input id="milk" class="w3-check" type="checkbox" checked="checked">
            <label>Stay logged in</label>
        </p> -->

            <p>
                <button class="w3-button w3-section w3-theme w3-ripple">Register</button>
            </p>
        </form>
    </div>
</div>